{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "implicit-arrow-linebreak": "off",
    "global-require": "off",
    "no-multi-spaces": "off",
    "arrow-parens": "off"
  },
  "env": {
    "jest": true
  }
}
