{
  "dotenv": {
    "varname": "database_url".
    "style": "pg"
  },
  "protected": ["master"],
  "prefix": "myapp",
  "postgres": {
    "template": "template1",
    "user": "postgres",
    "password": "postgres"
  }
}
